.chat_container {
  margin-bottom: 20px;
}
.ownerChat {
  display: flex;

  flex-direction: row-reverse;
  background-color: bisque;
}

.ownerChat button {
  height: 20px;
  width: 60px;
}

.otherChat {
  display: flex;
  justify-content: left;
  background-color: cadetblue;
}
.chatBox {
  max-width: 80%;
  background-color: aliceblue;
  padding: 0px 20px;
  margin: 5px 10px;
  border-radius: 5px;
}
