.chatForm {
  display: block;
  color: aliceblue;
  height: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.chatForm img {
  max-width: 200px;
  max-height: 200px;
}
.chatInput {
  width: 100%;
  min-height: 30px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.inputBox {
  background-color: black;
  padding: 10px;
}
