.user_card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border-radius: 5px;
  border: beige 1px solid;
  padding: 0 5px;
  height: 35px;
}

.user_card_img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.user_card h4 {
  font-size: 1rem;
}
