nav {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
}

nav a {
  all: unset;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

nav img {
  border-radius: 50%;
  border: #666 1px solid;
  height: 40px;
  width: 40px;
}
.logout {
  border: 1px solid #6666;
  padding: 10px 20px;
}
