nav {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 20px;
  height: 50px;
  position: sticky;
  top: 0;
  background-color: black;
}

nav a {
  all: unset;
  cursor: pointer;
  color: white;
  font-size: 20px;
}
