.chat_container {
  margin-bottom: 20px;
}
.ownerChat {
  display: flex;
  justify-content: right;
  background-color: bisque;
}

.ownerChat button {
  height: 20px;
  width: 60px;
}

.otherChat {
  display: flex;
  justify-content: left;
  background-color: cadetblue;
}
